"" Map leader to ,
let mapleader=','

" nnoremap <leader>rr :source ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap \e :e ~/.ideavimrc<CR>

"" command setting
set showmode
set scrolloff=5
set showcmd
set visualbell
set clipboard+=unnamed
set history=200

set hlsearch
set incsearch
set ignorecase
set smartcase

" Search for selected text.
xnoremap * "zy/<C-R>z<CR>
xnoremap # "zy?<C-R>z<CR>

"" Idea settings
set selectmode=ideaselection
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
set ideamarks

" Plugin
" set multiple-cursors
set easymotion
set NERDTree

" Don't use Ex mode
map Q gq

" 순수 vim 설정
"" insertMode 편집 바인딩
inoremap <C-f> <Esc>:let @z=@/<CR>/\v[)"}>]<CR>:let @/=@z<CR>:noh<CR>a
inoremap <C-b> <Esc>:let @z=@/<CR>?\v[("{<]<CR>:let @/=@z<CR>:noh<CR>i
inoremap <C-e> <C-o>A
inoremap <C-a> <C-o>I

"" easy system clipboard copy/paste
noremap y "*y
noremap Y "*Y
noremap p "*p
noremap P "*P

"" Switch windows
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

vnoremap < <gv
vnoremap > >gv

nnoremap <leader><space> :nohlsearch<CR>

nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $

map U <C-R>

" ideavim 설정 ---------------------------------------------------------
  "" Plugin Mappings
    """ jetbrains plugin + vim plugin
      """" AceJump + ideaVim-easymotion
      map <leader>f <Plug>(easymotion-s)
      map <leader>e <Plug>(easymotion-f)

      """" NERDTree
      nnoremap <silent> <F2> :NERDTreeFind<CR>
      nnoremap <silent> <F3> :NERDTreeToggle<CR>

    """ jetbrains plugin
      """" Json Helper
      map <leader>jh <Action>(ActivateJsonHelperToolWindow)

      """" ai assistant
      map <leader>ai <Action>(ActivateAIAssistantToolWindow)

  "" IDE Actions
    """ projects
    map <A-F4> <Action>(CloseProject)
    nmap <F10> <Action>(ExportSettings)
    nmap <F11> <Action>(ImportSettings)

    """ 화면 분할
    map <leader>h <Action>(SplitHorizontally)
    map <leader>v <Action>(SplitVertically)

    """ Navigation Tab
    map <Tab> <Action>(NextTab)
    map <S-Tab> <Action>(PreviousTab)

    """ working
    map \p <Action>(ParameterInfo)
    map <leader>o <Action>(FileStructurePopup)
    map <leader>q <Action>(QuickJavaDoc)
    map <leader>r <Action>(RenameElement)
    map <S-Space> <Action>(ShowErrorDescription)

    """ git
    map <leader>an <Action>(Annotate)
    map <leader>gh <Action>(Vcs.ShowTabbedFileHistory)
    map <leader>gb <Action>(GitToolBox.CleanBranches)

    """ 문맥 이동
    nmap <S-A-k> <Action>(MoveStatementUp)
    nmap <S-A-j> <Action>(MoveStatementDown)
    vmap <S-A-k> <Action>(MoveStatementUp)
    vmap <S-A-j> <Action>(MoveStatementDown)

    nmap <A-k> <Action>(MoveLineUp)
    nmap <A-j> <Action>(MoveLineDown)
    vmap <A-k> <Action>(MoveLineUp)
    vmap <A-j> <Action>(MoveLineDown)
" --------------------------------------------------------------------

" ideavim ide 설정 --------------------------------------------------------------------
"" bookmarks
nmap `0 <Action>(GotoBookmark0)
nmap `1 <Action>(GotoBookmark1)
nmap `2 <Action>(GotoBookmark2)
nmap `3 <Action>(GotoBookmark3)
nmap `4 <Action>(GotoBookmark4)
nmap `5 <Action>(GotoBookmark5)
nmap `6 <Action>(GotoBookmark6)
nmap `7 <Action>(GotoBookmark7)
nmap `8 <Action>(GotoBookmark8)
nmap `9 <Action>(GotoBookmark9)
nmap `a <Action>(GotoBookmarkA)
nmap `b <Action>(GotoBookmarkB)
nmap `c <Action>(GotoBookmarkC)
nmap `d <Action>(GotoBookmarkD)
nmap `e <Action>(GotoBookmarkE)
nmap `f <Action>(GotoBookmarkF)
nmap `g <Action>(GotoBookmarkG)
nmap `h <Action>(GotoBookmarkH)
nmap `i <Action>(GotoBookmarkI)
nmap `j <Action>(GotoBookmarkJ)
nmap `k <Action>(GotoBookmarkK)
nmap `l <Action>(GotoBookmarkL)
nmap `m <Action>(GotoBookmarkM)
nmap `n <Action>(GotoBookmarkN)
nmap `o <Action>(GotoBookmarkO)
nmap `p <Action>(GotoBookmarkP)
nmap `q <Action>(GotoBookmarkQ)
nmap `r <Action>(GotoBookmarkR)
nmap `s <Action>(GotoBookmarkS)
nmap `t <Action>(GotoBookmarkT)
nmap `u <Action>(GotoBookmarkU)
nmap `v <Action>(GotoBookmarkV)
nmap `w <Action>(GotoBookmarkW)
nmap `x <Action>(GotoBookmarkX)
nmap `y <Action>(GotoBookmarkY)
nmap `z <Action>(GotoBookmarkZ)

nmap m0 <Action>(ToggleBookmark0)
nmap m1 <Action>(ToggleBookmark1)
nmap m2 <Action>(ToggleBookmark2)
nmap m3 <Action>(ToggleBookmark3)
nmap m4 <Action>(ToggleBookmark4)
nmap m5 <Action>(ToggleBookmark5)
nmap m6 <Action>(ToggleBookmark6)
nmap m7 <Action>(ToggleBookmark7)
nmap m8 <Action>(ToggleBookmark8)
nmap m9 <Action>(ToggleBookmark9)
nmap ma <Action>(ToggleBookmarkA)
nmap mb <Action>(ToggleBookmarkB)
nmap mc <Action>(ToggleBookmarkC)
nmap md <Action>(ToggleBookmarkD)
nmap me <Action>(ToggleBookmarkE)
nmap mf <Action>(ToggleBookmarkF)
nmap mg <Action>(ToggleBookmarkG)
nmap mh <Action>(ToggleBookmarkH)
nmap mi <Action>(ToggleBookmarkI)
nmap mj <Action>(ToggleBookmarkJ)
nmap mk <Action>(ToggleBookmarkK)
nmap ml <Action>(ToggleBookmarkL)
nmap mm <Action>(ToggleBookmarkM)
nmap mn <Action>(ToggleBookmarkN)
nmap mo <Action>(ToggleBookmarkO)
nmap mp <Action>(ToggleBookmarkP)
nmap mq <Action>(ToggleBookmarkQ)
nmap mr <Action>(ToggleBookmarkR)
nmap ms <Action>(ToggleBookmarkS)
nmap mt <Action>(ToggleBookmarkT)
nmap mu <Action>(ToggleBookmarkU)
nmap mv <Action>(ToggleBookmarkV)
nmap mw <Action>(ToggleBookmarkW)
nmap mx <Action>(ToggleBookmarkX)
nmap my <Action>(ToggleBookmarkY)
nmap mz <Action>(ToggleBookmarkZ)

"" vim
sethandler <C-A> a:vim
sethandler <C-D> a:vim
sethandler <C-F> a:vim

sethandler <C-B> a:vim

sethandler <C-H> a:vim
sethandler <C-J> a:vim
sethandler <C-K> a:vim
sethandler <C-L> a:vim

sethandler <C-R> n:vim

sethandler <C-V> a:vim

"" ide
sethandler <C-G> a:ide

sethandler <C-T> a:ide

"" misc
sethandler <C-2> a:ide
sethandler <C-E> a:ide
sethandler <C-I> a:ide
sethandler <C-M> a:ide
sethandler <C-N> a:ide
sethandler <C-O> a:ide
sethandler <C-P> a:ide
sethandler <C-S> a:ide
sethandler <C-6> a:ide
sethandler <C-S-2> a:ide
sethandler <C-S-6> a:ide
sethandler <C-w> a:ide
" --------------------------------------------------------------------

